@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

html, body {
    font-family: 'Syncopate', regular;
    height: 100%;
    margin: 0;
    padding: 0;
}

.profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #282c34;
    min-height: 100vh;
}

.profileTitle {
    color: white;
    font-size: 2rem;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.profileOptions {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profOption {
    width: 30%;
    margin: 10px 0;
}

.linkText {
    color: white;
    text-decoration: none;
}

.usernameInput {
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
}

.fileInput {
    margin-top: 10px;
    color: white;
}
