@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

html, body {
    font-family: 'Syncopate', regular;
}

.mainSidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #28004e;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.infoPart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.user {
    margin: 10px 0;
    background-color: lightgray;
    border-radius: 50%;
    height: 100px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.langFlag {
    margin: 10px 0;
    background-color: lightgray;
    width: 100px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.langDropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.langFlagOption {
    height: 50px;
    margin: 0 10px;
}
.faIcon {
    height: 60%;
    color: #7e7878;
}

.langFlag:hover .langDropdown {
    display: block;
    max-height: 100px;
  }

.navButtons {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
}

.navigationButton {
    margin: 10px;
    width: 60%;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.navigationButton:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.navigationButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.navigationButton:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.separator {
    margin: 15px 0;
}